# maven
**/target/
*.class

# intellij
.idea/
*.iml

# jffi libraries
jffi*

# netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml

# kdiff3
*.orig

# windows
Thumbs.db

# mac
.DS_Store

# NMRfx files
*.nv
*.ucsf

# specific folders
**/logs/
*/nvfxtest
*/sandbox/
*/installers/
*/tmp/

# installer copied files
additional-installer-jars

# Simon's additions
# vim swapfiles
.*.swp
