<configuration>
    <property name="log_dir" value="${user.dir}/logs/"/>

    <!-- Windows: %APPDATA%/NMRFX/logs/ -->
    <if condition='isDefined("APPDATA")'>
        <then>
            <property name="log_dir" value="${APPDATA}/NMRFX/logs/"/>
        </then>
    </if>
    <!-- Mac: %HOME%/Library/Application Support/NMRFX/logs/ -->
    <if condition='property("os.name").toLowerCase().contains("mac")'>
        <then>
            <property name="log_dir" value="${user.home}/Library/Application Support/NMRFX/logs/"/>
        </then>
    </if>
    <!-- Linux: %HOME%/.NMRFX/logs -->
    <if condition='property("os.name").toLowerCase().contains("linux")'>
        <then>
            <property name="log_dir" value="${user.home}/.NMRFX/logs/"/>
        </then>
    </if>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/nmrfx.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/nmrfx.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %logger{36} %method %n{}[%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %logger{36} %method %n{}[%level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
